
.commands h2, #channel_data h2,
.dimmers h2 {
  font-size: 30px;
  line-height: 30px;
}

.commands , #channel_data ,
.dimmers  {
  font-size: 16px;
  line-height: 16px;
}

.commands button, #channel_data button,
.dimmers button {
  padding: 20px;
  border: solid 2px #909090;
  background: #000;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

.commands button.active, #channel_data button.active,
.dimmers button.active {
  background: #aaa;
  border: solid 2px #fff;
  color: #000;
}


.commands input[type='range'], 
.dimmers input[type='range'], 
#channel_data input[type='range'] {
  margin: 10px 0 10px;
    -webkit-appearance: none;
    background: url('../img/scrubber_horizontal_holo_dark.png');
    width: 100%;
    background-position: center;
    background-size: -webkit-calc(100% - 5px) 100%;
    background-repeat: no-repeat;
}




#channel_data {
  position: relative;
}

#channel_data button {
  position: absolute;
}

#channel_data label, .#channel_data span {
  position: absolute;
}

#channel_data span {
  right: 0;
  padding-top: 8px;
  color: #666;
}


#channel_data {
  position: relative;
}

#channel_data input[type='range'].r {
    background-image: url('../img/scrubber_horizontal_red_holo_dark.png');
}
#channel_data input[type='range'].b {
    background-image: url('../img/scrubber_horizontal_blue_holo_dark.png');
}

#channel_data .channel_values {
  margin-left: 100px;
  margin-top: -30px;
}







.commands input[type='range'], 
.dimmers input[type='range'], 
#channel_data input[type='range'] {
    -webkit-appearance: none;
    background: url('../img/scrubber_horizontal_green_holo_dark.png');
    width: 60%;
    margin-left: 35px;
    background-position: center;
    background-size: -webkit-calc(100% - 25px) 3px;
    background-repeat: no-repeat;
}

.commands input[type='range'].gray, 
.dimmers input[type='range'].gray, 
#channel_data input[type='range'].gray {
    background-image: url('../img/scrubber_horizontal_gray_holo_dark.png');
}

.commands input[type='range']::-webkit-slider-thumb, 
.dimmers input[type='range']::-webkit-slider-thumb, 
#channel_data input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 26px;
    height: 26px;
    background: url('../img/scrubber_control.png');
    background-repeat: no-repeat;
    cursor: pointer;
}





.dimmers {
  margin-bottom: 30px;
}

.dimmers b {
  float: left;
  width: 70px;
  margin: 15px 0 0;
}



#sample {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 30px;
  top: 20px;
  border: solid 2px white;
  margin-top: 30px;
  margin-right: 30px;
}
